<nav>
	&larr; <a href="#/">Events</a>
</nav>
<h2>Event</h2>
<form class="pane">
	<div class="formline">
		<label>name</label>
		<input type="text" data-ng-model="event.name" required />
	</div>

	<div class="formline">
		<label>Description</label>
		<input type="text" data-ng-model="event.description" required />
	</div>

	<div class="formline">
		<label>Maximal amount of guests</label>
		<input type="number" data-ng-model="event.maximalAmoutOfGuests" />
	</div>

	<div class="formline">
		<label>Target group</label>
		<input type="text" data-ng-model="event.targetGroup" />
	</div>

	<div class="formline">
		<label>Event contribution description</label>
		<input type="text" data-ng-model="event.contributionsDescription" />
	</div>

	<div class="formline">
		<label>Location</label>
		<input type="text" data-ng-model="event.location.name" placeholder="Name" required />
		<input type="text" data-ng-model="event.location.street" placeholder="Street" required />
		<input type="text" data-ng-model="event.location.plz" placeholder="ZIP Code" required/>
		<input type="text" data-ng-model="event.location.city" placeholder="City" required/>
	</div>

	<div class="formline">
		<label>Date &amp; Times</label>
			<input type="text" data-ng-model="event.times.begin" placeholder="Name" required />
		<input type="text" data-ng-model="event.times.end" placeholder="Name" required />
		<!--<div class="formline inline col-6-2-2">
			<input type="date" data-ng-model="event.times.begin.date" placeholder="begin, e.g. 1990-12-30" required />

			<select class="hours" data-ng-model="event.times.begin.time.hours"
					data-ng-init="event.times.begin.time.hours = hours[12]"
					data-ng-options="hour for hour in hours"></select>
			<select class="minutes" data-ng-model="event.times.begin.time.minutes"
					data-ng-init="event.times.begin.time.minutes = minutes[0]"
					data-ng-options="minute for minute in minutes"></select>
		</div>
		<div class="formline inline col-6-2-2">
			<input  data-ng-model="event.times.end.date" placeholder="end, e.g. 1990-12-31"  type="date" required />

			<select class="hours" data-ng-model="event.times.end.time.hours"
					data-ng-init="event.times.end.time.hours = hours[13]"
					data-ng-options="hour for hour in hours"></select>
			<select class="minutes" data-ng-model="event.times.end.time.minutes"
					data-ng-init="event.times.end.time.minutes = minutes[0]"
					data-ng-options="minute for minute in minutes"></select>
		</div>-->
	</div>

	<div class="formline">
		<input type="submit" data-ng-click="add(event)" value="Save" />
	</div>
</form>