<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<form class="form-group" role="form">
							<div class="form-group">
								<label for="event-name">Name</label>
								<input type="text" class="form-control" id="event-name" placeholder="Event Name" data-ng-model="event.name" required>
							</div>
							<div class="form-group">
								<label for="event-description">Description</label>
								<textarea class="form-control" id="event-description" placeholder="Description" data-ng-model="event.description" required rows="3"></textarea>
								<!--<input type="text" class="form-control" id="event-description" placeholder="Description" data-ng-model="event.description" required>-->
							</div>
							<div class="form-group">
								<label for="event-target-group">Target group</label>
								<input type="text" class="form-control" id="event-target-group" placeholder="Target group" data-ng-model="event.targetGroup" required>
							</div>
							<div class="form-group">
								<label for="event-max-guests">Maximal amount of guests</label>
								<input type="number" class="form-control" id="event-max-guests" data-ng-model="event.maximalAmountOfGuests" required>
							</div>
							<div class="form-group">
								<label for="event-cont-desc">Event contribution description</label>
								<!--<input type="text" class="form-control" id="event-cont-desc" placeholder="Event contribution description" data-ng-model="event.contributionsDescription" required>-->
								<textarea class="form-control" id="event-cont-desc" placeholder="Event contribution description" data-ng-model="event.contributionsDescription" required rows="2"></textarea>
							</div>
						</form>
					</div>

					<div class="col-lg-6">
						<form class="form-group" role="form">
							<div class="form-group">
								<label for="event-times-begin">Event begin</label>
								<!--<input type="datetime-local" class="form-control" id="event-times-begin" data-ng-model="event.times.begin" min="{{minDate | date:'yyyy-MM-ddTHH:mm:ss'}}" required />-->
								<input type="date" class="form-control" id="event-date-begin" data-ng-model="event.times.begin" required pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"/>
								<input type="time" class="form-control" id="event-time-begin" data-ng-model="event.times.begin" required />
							</div>
							<div class="form-group">
								<label for="event-times-end">Event end</label>
								<!--<input type="datetime-local" class="form-control" id="event-times-end" data-ng-model="event.times.end" required />-->
								<input type="date" class="form-control" id="event-date-end" data-ng-model="event.times.end" required pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"/>
								<input type="time" class="form-control" id="event-time-end" data-ng-model="event.times.end" required />
							</div>
							<div class="form-group">
								<label for="event-location-name">Location Name</label>
								<input type="text" class="form-control" id="event-location-name" placeholder="Name" data-ng-model="event.location.name" required />
							</div>
							<div class="form-group">
								<label for="event-location-street">Street</label>
								<input type="text" class="form-control" id="event-location-street" placeholder="Street" data-ng-model="event.location.street" required />
							</div>
							<div class="form-group">
								<label>ZIP Code / City</label>
									<input type="text" class="form-control" placeholder="ZIP Code" data-ng-model="event.location.plz" required/>
									<input type="text" class="form-control" placeholder="City" data-ng-model="event.location.city" required/>
							</div>
						</form>
					</div>
					<div class="col-lg-6">
						<form class="form-group" role="form">
							<div class="form-group">
								<a class="btn btn-default btn-block" href="#/" role="button">Cancel</a>
							</div>
						</form>
					</div>
					<div class="col-lg-6">
						<form class="form-group" role="form">
							<div class="form-group">
								<button type="button" class="btn btn-primary btn-block" data-ng-click="add(event)">Save</button>
							</div>
						</form>
					</div>
					<!-- /.col-lg-6 (nested) -->
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
